<div
  [ngStyle]="{
    alignItems:
      !data?.position || (!data?.department && !onlyPhoto) ? 'center' : 'start'
  }"
  class="ui-userpick size{{ size }}"
>
  <div *ngIf="isOnline" class="ui-userpick__marker"></div>
  <div class="ui-userpick__ava">
    <img *ngIf="data?.photo; else noPhoto" [src]="data.photo" alt="" />
  </div>
  <div *ngIf="!onlyPhoto" class="ui-userpick__info">
    <p class="ui-userpick__info-position">{{ data?.position }}</p>
    <p class="ui-userpick__info-name link-text">
      {{ data?.name }}
    </p>
    <p class="ui-userpick__info-department">{{ data?.department }}</p>
  </div>
</div>

<ng-template #noPhoto>
  <img src="assets/img/no-avatar.png" alt="" />
</ng-template>
